{% extends  "structure.html" %}
{% block main %}
<div style="margin:auto;border:1px solid white; border-radius:3%;width:70%">
    <div style="margin:10px">
        <h2>Terms of Use</h2>
 <p>
    Intellectual Property disclosure. This tells users that your website's logo, content, and all other media is solely your property and that it is all protected by copyright laws.

    Here's how Intellectual Property Magazine does it in its Terms of Use:
    
    Intellectual Property Magazine Terms of Use: Use of material appearing on web site clause
 </p>
 </div>
</div>
 
 
 
{% endblock main %}